<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question</title>
</head>
<body>
    <h4>{{ res.question_text }}</h4>
    <form action="{% url 'polls:tp' %}" method="post">
    {%  csrf_token %}
        <ul>
            {% for choice in res.choice_set.all %}
            <li>
                <input type="radio" name="id" value="{{ choice.id }}">
                {{ choice.choice_text }}
            </li>
            {% endfor %}
        </ul>
        <input type="submit" value="提交">
    </form>
</body>
</html>
